doctype html
html
  head
    title scalajs test
    script(src='scala-js-tutorial-fastopt.js', type='text/javascript')
  body
    h1 scalajs test
    script(type='text/javascript') tutorial.webapp.TutorialApp().main();
